<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Social_Media_App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css')}}" />
</head>

<body>
    <h1 style="text-align: center; padding-top:1em;padding-bottom:1em;">
        Social Media App
    </h1>
    <form action="{{ url_for('add') }}" method="post">
        <div1><label id="first">Name:</label>
            <input type="text" name="post_name">
        </div1>
        <div2 id="second">
            <label>Post:</label>
            <input id="submiti" type="text" name="post_item">
        </div2>
        <input type="submit">
    </form>
    <p>
        <div>
            <ul>
                {% for i in range(count) %}
                <li>
                    <h2>{{name[i]}}: </h2>&emsp;&emsp;&emsp;{{post[i]}}<br><br>
                </li>
                {% endfor %}
            </ul>
        </div>
    </p>

</body>

</html>